* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  height: 100%;

  --gray-50: #f8f8f8;
  --gray-200: #d7d7d7;
  --gray-300: #bbbbbb;
  --gray-800: #1a1d23;
  --pink-500: #ff57b2;

  font-size: 62.5%;
}

body {
  height: 100%;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  background-color: var(--gray-800);
  color: var(--gray-200);
}

body,
#__next {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

#__next {
  height: 100%;
}

body,
button {
  font: 1.8rem 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  background: none;
  text-decoration: none;
  color: inherit;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--gray-50);
  font-weight: 700;
}
