// TODO
.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.post-list {
  width: 700px;
  // border: 1px solid #ff0000;

  > button {
    margin-top: 6.5rem;
    border: 0;
    background: none;

    font-weight: 600;
    color: var(--pink-500);
  }
}

.post {
  display: block;
  // height: 108px;
  transition: color 200ms;
  // border: 1px solid #00ff00;

  > strong {
    font-size: 2.8rem;
    margin-bottom: 0.8rem;
  }

  p {
    margin-bottom: 0.422rem;
    line-height: 2.178;
    font-weight: 400;
  }

  & + a {
    margin-top: 2.4rem;
    padding-top: 2.4rem;
  }

  &:hover strong {
    color: var(--pink-500);
  }
}

.post-footer {
  display: flex;
  align-items: center;

  > span {
    display: flex;
    align-items: center;

    color: var(--gray-300);

    :last-child {
      font-size: 1.4rem;
    }

    :first-child {
      margin-right: 1rem;
    }

    & + span {
      margin-left: 2.733rem;
    }
  }
}
