.container {
  padding: 0 2rem;
}

.post-list {
  & + button {
    margin-top: 6.5rem;
    border: 0;
    background: none;

    font-weight: 600;
    color: var(--pink-500);
  }
}

.post-item {
  transition: color 200ms;

  & + li {
    margin-top: 2.4rem;
    padding-top: 2.4rem;
  }

  &:hover strong {
    color: var(--pink-500);
  }
}

.post {
  display: block;

  > strong {
    font-size: 2.8rem;
    margin-bottom: 0.8rem;
  }

  p {
    margin-bottom: 0.422rem;
    line-height: 2.178;
  }
}

.post-footer {
  display: flex;
  align-items: center;

  > span {
    display: flex;
    align-items: center;

    color: var(--gray-300);

    :last-child {
      font-size: 1.4rem;
    }

    :first-child {
      margin-right: 1rem;
    }

    & + span {
      margin-left: 2.733rem;
    }
  }
}
